.wrapper {
  background: red;
}

.label {
  display: block;
  font-family: "Lato", "Open Sans", "Avenir", "Avenir LT Std", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.control {
  height: 3rem;
  width: 100%;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  justify-content: space-between;

}

.down-arrow,
.up-arrow {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.down-arrow::before,
.up-arrow::before {
  color: #888;
}

.down-arrow::before {
  content: '^';
}

.up-arrow::before {
  content: 'v';
}

.checkbox {
  display: none;
}

.option {
  font-family: "Lato", "Open Sans", "Avenir", "Avenir LT Std", "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  cursor: pointer;
  position: relative;
  border: 1px solid #444;
  border-top: none;
}

.option::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #444;
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
}

.option::after {
  content: '';
  width: 0.5rem;
  height: 1rem;
  transform: rotate(40deg);
  border: 3px solid #7de391;
  border-top: none;
  border-left: none;
  position: absolute;
  left: 1.25rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox:checked + .option::after {
  opacity: 1;
}
